[submodule "Middlewares/ST/usbx"]
	path = Middlewares/ST/usbx
	url = https://github.com/STMicroelectronics/stm32-mw-usbx.git
[submodule "Middlewares/ST/threadx"]
	path = Middlewares/ST/threadx
	url = https://github.com/STMicroelectronics/stm32-mw-threadx.git
[submodule "Middlewares/ST/filex"]
	path = Middlewares/ST/filex
	url = https://github.com/STMicroelectronics/stm32-mw-filex.git
[submodule "Middlewares/ST/levelx"]
	path = Middlewares/ST/levelx
	url = https://github.com/STMicroelectronics/stm32-mw-levelx.git
[submodule "Middlewares/ST/netxduo"]
	path = Middlewares/ST/netxduo
	url = https://github.com/STMicroelectronics/stm32-mw-netxduo.git
[submodule "Drivers/BSP/lwrb"]
	path = Drivers/BSP/lwrb
	url = https://github.com/MaJerle/lwrb.git
